.navbar{
    display: flex;
    flex-direction: row;
    background-color: black;
    margin: 0;
    align-items: center;

    h1{
        color: white;
        padding: 5px;
        margin: 10px 10px;
        text-align: start;
        display: inline;
        width: 90%;
    }

    .loginButton{
        width: 140px;
        button{
            background-color: red !important;
            width: 100% !important;
            display: flex !important;
            
            text-align: center !important;

            div{
                margin-right: 0px;
            }

            span{
                font-weight: bold !important;
                font-size: 16px !important;
                margin: auto !important;
                
            }
        }
    }

}

.profile{
    // background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        h2{
            color: white;
            margin: 0px 10px;
            text-align: center;
        }

        img{
            width: 70px;
            
            height: 70px;
            border-radius: 50%;
        }
    }

    button{
        width: 200px;
        padding: 0px;
    }

    
    
}

